<!DOCTYPE html>  
<html>  
<head>  
    <title></title>  
    <meta charset="utf-8" />  
</head>  
<body>  
  
    <h2 style="text-align:center">{{title}}</h2> 

<div>   
<p *ngIf="showElement">CSE B STUDENTS</p>
<div [ngSwitch]="inputvalue">
<p *ngSwitchCase="1">You selected Monday</p>    
<p *ngSwitchCase="2">You selected Tuesday</p>    
<p *ngSwitchCase="3">You selected Wednesday</p>   
<p *ngSwitchDefault>Sorry Invalid selection!!</p>    
</div>
  </div>

  <div><h2>NGfor directive example</h2>
    <table>  
        <thead>  
            <tr>  
                <th>Code</th>  
                <th>Name</th>  
                <th>Gender</th>  
                <th>Annual Salary</th>  
                <th>Date of Birth</th>  
            </tr>  
        </thead>  
        <tbody>  
            <tr *ngFor='let employee of employees'>  
                <td>{{employee.code}}</td>  
                <td>{{employee.name}}</td>  
                <td>{{employee.gender}}</td>  
                <td>{{employee.annualSalary}}</td>  
                <td>{{employee.dateOfBirth}}</td>  
            </tr>  
            <tr *ngIf="!employees || employees.length==0">  
                <td colspan="5">  
                    No employees to display  
                </td>  
            </tr>  
        </tbody>  
    </table>  
    </div>

           
</body>  
</html> 